html body {
    height: 100vh;
    background-color: #ECF0F1;
}

.title {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    color:#FFFFFF;
}
.showContent {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 5px;
}
.contentBox {
    margin-top: 20px;
    padding: 50px;
}

.title {
    background-color: #2C3E50;
    width:100%;
}

.inputName {
    display: flex;
    justify-content: space-around;
}

.searchInputEl {
    width:100%;
}

.table {
    margin:20px;
}

tr td {
    text-align: center;
}

tr > th {
    text-align: center;
}

.inputName {
    margin-bottom: 30px;
}

.inputAuthor {
    margin-bottom: 30px;
}
.inputYear {
    margin-bottom: 30px;
}

